.navbar {
    background: rgb(255, 0, 0);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    padding-top: -1rem;
    object-fit: cover;
    height: 5rem;
    width: 7rem;
}

button {
    background-color: white;
    border: 4px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: yellow;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid yellow;
}

.active {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}