#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    margin: 4rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    margin-top: 1.5rem;
}

.worksImg {
    object-fit: cover;
    height: 17rem;
    width: 17rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.worksImg:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.worksTitle:hover {
    color: yellow;
}

.worksBtn {
    margin: 4rem;
}

@media screen and (max-width: 585px) {
    .worksImg {
        height: 50vw;
    }
}